version: '3.8'

services:
  backend:
    build: 
      context: ./server     
    container_name: travel-backend
    ports:
      - "5001:8000"        
    env_file:
      - server/.env               
    volumes:
      - ./server/output:/app/output 
    restart: always

  frontend:
    build:
      context: ./client   
      args:
        - VITE_API_URL=http://localhost:5001 
    container_name: travel-frontend
    ports:
      - "3000:8080"         
    depends_on:
      - backend            
    restart: always