fastapi
uvicorn
pydantic
python-dotenv
requests
markdown2
langchain-groq
langchain-core
langgraph
langchain-tavily
langchain-google-genai
geopy
folium
tenacity
pathlib
prometheus-fastapi-instrumentator